ul.blog-types {
	list-style-type: none;
}

div.blog:not(:last-child){   /*not(:last-child)最后一个元素无分割线*/
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

div.blog h3 {
	margin-top: 0.5em;
}

div.blog p.blog-info {
	margin-bottom: 0;
}

div.paginator {    /*页码居中显示*/
	text-align: center;
}